* {
    margin: 0;
    padding: 0;
}

ul li, ol li {
    list-style: none;
}

a, a:hover, a:visited, a:target, a:link {
    text-decoration: none;
    color: #B0B0B0;
}

/* 按钮样式 */
input, button, textarea, select {
    font-size: 100%;
    outline: none;
    resize: none
}

input[type="button"] {
    cursor: pointer;
    border: 0
}

input[type="submit"] {
    cursor: pointer;
    border: 0
}

input[type="reset"] {
    cursor: pointer;
    border: 0
}

/*删除火狐下按钮默认样式*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

/*图片居中*/
.lxmimg {
    display: block;
    text-align: center;
}

.lxmimg img {
    max-height: 100%;
    max-width: 100%;
}

.lxmimg i {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/*common style topper*/

.topper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

    background: #333333;
    color: #B0B0B0;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    zoom: 1;
    letter-spacing: 2px;
    font-size: 12px;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.othlink .none {
    background: none;
}

.othlink li {
    float: left;
    height: 40px;
    width: 58px;
    text-align: center;
}

.othlink li:nth-last-child(1) {
    height: 100%;
    width: 118px;
}

.othlink li a {
    height: 40px;
    width: 58px;
    color: #b0b0b0;
    /*这里很重要，要把a元素设置成行内块状元素，才能撑开大小！*/
    display: inline-block;
    padding: 0 1px;
    background: url(../static/sx.jpg) no-repeat left center;
}

.othlink li a:hover {
    text-decoration: underline;
}

.othlink .shopping {
    padding: 0 10px 0 45px;
    background: #4b4b4b url(../static/top_gouwuche.png) no-repeat 5px center;
}

.othlink .shopping:hover {
    color: #01ACEE;
    background: #4b4b4b url(../static/top_gouwuche_hover.png) no-repeat 5px center;
}

/*common style header*/

.header {
    margin-top: 40px;
    border-bottom: 1px solid #d2d2d2;
}

.header .header-in {
    height: 100px;
}

.header {
    border-bottom: 1px solid #d2d2d2;
}

.nright {
    margin-top: 27px;
}

.nav {
    display: inline;
    margin-right: 10px;
    background: none;
    height: auto;
}

.nav li {
    display: inline;
}

.nav li a {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    padding: 0 15px;
    color: #333;
}

.search {
    display: inline-block;
    border: 1px solid #bfbfbf;
    border-right: 0;
    padding: 9px 0;
    width: 465px;
    height: 30px;
    color: #b9baba;
    font-size: 14px;
    vertical-align: middle;
}

.search a {
    float: left;
    display: inline-block;
    background: #e3e3e3;
    margin-right: 5px;
    padding: 0 10px;
    width: 62px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #b9baba;
    vertical-align: middle;
    border: 1px solid #e3e3e3;
    overflow: hidden;
}

.search .inp_text {
    float: left;
    padding: 6px 0;
    margin: 0 15px;
    border: 0;
    height: 18px;
    width: 435px;
    line-height: 18px;
    font-size: 14px;
    vertical-align: middle;
    color: #b9baba;
}

.sousuo {
    background: url(../static/sousou.jpg) no-repeat left center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    vertical-align: middle;
}

.bigData-banner {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

.bigData-banner-p {
    width: 100%;
    height: auto;
    text-align: center;

}

/*.bigData-banner-p-img {*/
    /*rotate(360deg) scale(1) translateY(0 px) !important;*/
/*}*/


/*.bigData-banner-p img {*/
    /*max-width: 100%;*/
    /*padding-top: 80px;*/
    /*transition: transform 1.5s ease-in;*/
    /*transform: rotate(0deg) scale(0) translateY(-500px);*/
/*}*/

.bigData-banner-p img{
    max-width: 100%;
    padding-top: 80px;
    transition: transform 1.5s ease-in;
    transform: rotate(0deg) scale(0) translateY(-500px);
}
.bigData-banner-p-img{
    transform: rotate(360deg) scale(1) translateY(0px)!important;
}


.bigData-banner-div img {
    position: absolute;
}

.div-img1 {
    left: 50%;
    margin-left: -442px;
    animation: img1 3s linear 0s infinite;
}

.div-img2 {
    left: 50%;
    margin-left: -212px;
}

.div-img3 {
    left: 50%;
    margin-left: -120px;
    bottom: 191px;
}

.div-img1, .div-img2 {
    margin-top: -77px;
}